[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4

[{*.avsc, *.json}]
indent_size = 2

[{*.cql, *.ddl, *.sql}]
indent_size = 2

[{*.yml, *.yaml}]
indent_size = 2

[*.java]
max_line_length = 150
ij_java_imports_layout = *, |, java.**, javax.**, |, $*
ij_java_doc_preserve_line_breaks = true

[*.feature]
indent_size = 2