# IDEA project files
.idea
.run
*.iml
*.iws
*.ipr
*.tgz
**/.DS_Store
**/__pycache__

# Build targets
out/
bin/
.vscode/
build/
target/
**/main/resources/logback-extend.xml
**/test/resources/application.properties
**/venv

# Generated classes
**/main/generated/
**/test/generated_tests/

# Gradle tools
.gradle/
local.gradle.properties

# Dev settings
application-dev.yml
